<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CLIPASAURUS</title>
  <meta name="description" content="CLIPASAURUS">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="outer_wrapper">
  <div id="inner_wrapper">
  	<p><h1>CLIPASAURUS</h1></p>
    <div class="video-container">
      <iframe width="420" height="315" src="http://www.youtube.com/embed/{{ video_id }}?start={{ start }}&end={{ stop }}&autoplay=1&showinfo=0&controls=0&rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p><a class="button" href="https://twitter.com/share" target="_blank">Tweet it!</a><p>
  </div>
</div>
<script src="/js/jquery.min.js"></script>
</body>
</html>